# Python
venv/
.venv/
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

#visualization
visualization/

# Model training
checkpoints/

# Dataset files
data/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db